<h1>Rails Girls feedback form:</h1>


<%= form_tag create_feedback_path do %>
  <h2>User</h2>
  <div class="field">
    <label for="user[name]">Name:</label>
    <input type="text" name="user[name]" placeholder="FirstName LastName"/>
  </div>
  <div class="field">
    <label for="user[name]">Email:</label>
    <input type="text" name="user[email]" placeholder="email address"/>
  </div>
  <div class="field">
    <label for="user[name]">Phone:</label>
    <input type="text" name="user[phone]" placeholder="Contact number"/>
  </div>

  <h2>Feedback</h2>

  <div class="field">
    <label for="user[name]">Enter your feedback:</label><br/>
    <textarea name="feedback[feedback]" placeholder="Good and Not-So-Good both" cols="50" rows="10"></textarea>
  </div>

  <div class="actions">
    <input type="submit" value="Submit"/>
  </div>
<% end %>